APP_ENV=dev

DB_HOST=localhost
DB_PORT=5432
DB_USER=uhomecomp
DB_PASS=homecomppass
DB_NAME=homecomp

TEST_DB_HOST=localhost
TEST_DB_PORT=5433
TEST_DB_USER=uhomecomp
TEST_DB_PASS=homecomppass
TEST_DB_NAME=homecomp_test

VALKEY_HOST=localhost
VALKEY_PORT=6379
